
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css') }}">
</head>
<body>
	<div class="login-container">
		<h2>Iniciar Sesión</h2>
		{% if error %}
		<div class="error-message" style="color: red; margin-bottom: 10px; padding: 10px; border: 1px solid red; background-color: #ffe6e6;">
			{{ error }}
		</div>
		{% endif %}
		<form method="POST" action="{{ url_for('login') }}">
			<label for="username">Usuario:</label>
			<input type="text" id="username" name="username" required>
			<label for="password">Contraseña:</label>
			<input type="password" id="password" name="password" required>
			<button type="submit" class="btn btn-primary btn-sm">Ingresar</button>
		</form>
	</div>
</body>
</html>
